@import '../../theme.scss';
$primary: map-get($theme, primary);

:app-mainbar {
  background-color: #fff;
  border-left: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  min-width: 327px;
  width: 100%;
  height: 100%
}

.note-edit {
  width: 100%;
  height: 200px;
  min-height: 200px;
  border: 1px solid rgb(222, 222, 222);
}