<app-main-nav-bar (create)="onCreate()" (delete)="onDelete()"></app-main-nav-bar>
<ng-container *ngIf="{
  isEdit: isEdit$ | async,
  isKeywords: (keywordService.obs$ | async)?.length > 0,
  note: noteSelectedService.note$|async
} as ctx" >

  <app-search-input 
    *ngIf="(noteSelectedService.note$|async) && (ctx.isKeywords || ctx.isEdit)" 
    [keywords$]="keywordService" 
    [suggestions]="tags"
    [inputVisibilty]="ctx.isEdit" 
    [removeButton]="ctx.isEdit"
    [inputValue$]="searchInput$"
    [add$]="add$" 
    [remove$]="remove$" 
    [reset$]="reset$"
    placeholder="tags…"></app-search-input>
  
  <ngx-md *ngIf="!ctx.isEdit && ctx.note && ctx.note.body" [data]="ctx.note.body"></ngx-md>
  <div *ngIf="!ctx.isEdit && ctx.note && ctx.note.id && (!ctx.note.body.trim().length)">Empty note!</div>
  
  <div *ngIf="ctx.isEdit && ctx.note && ctx.note.id">
    <textarea class="note-edit" matInput cdkTextareaAutosize [(ngModel)]="ctx.note.body"></textarea>
    <button (click)="onSave()">save</button>
  </div>

  <ng-container *ngIf=" env.debug">
      <br/>
      <h4>Notes :</h4>{{notesService.getNotes$([])|async|json}}
      <br/>
      <h4>Context :</h4>{{ctx|json}}      
  </ng-container>
</ng-container>
<ng-container *ngIf="!(dataPresent$|async)" style="text-align: center">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <h2>Uhh no notes!!!</h2>
  <h3>If you want my opinion, you'd better click on that + button.</h3>
  <h4>Yeah that's right the one just above!</h4>
</ng-container>

