:host {
  background-color: #FFFFFF;
  
  display: flex;
  flex-direction: column;
  min-width: 165px;
  max-width: 350px;
  height: 100%;
}

.showBorder {
  border-right: 1px solid #d8d8d8;
}

.sidebar .tag {
  justify-content: left;
  color: #fdfdfd;
  background-color: transparent;
}

#sidebar .tag {
    margin-bottom: 5px !important;
}