<div id="confirmation" class="popover-new popover-new-bottom popover-active shown" style="display: block; left: 604px; top: 419px;">
  <div class="popover-new-header">
    <a class="popover-new-close" href="#"></a>
  </div>
  <div class="arrow"></div>
  <div class="confirmation_dialog">
    <h5>Are you sure?</h5>
    <button mat-button color="primary" (click)="onCancel()">Cancel</button>
    <button mat-button color="warn" (click)="onDelete()">Delete</button>
    <div class="clear"></div>
  </div>
</div>